*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: rgb(161, 221, 245);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 80px auto;
}
.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 60px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 60px;
    background: rgb(27, 183, 245);
    color: white;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 20px;
    
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 65%;

}
/* ... */
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20pxs;
    box-shadow: 0px 5px 15px 0px rgba(28,0 ,181, 0.3);
    cursor: pointer;
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
       font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}


/* ............navigation bar..................*/

.header{
    background-image: url(../assets/black.jpg);
    background-size: cover;
    display: flex;
    height: 150px;
    width: 100%;
    /* position:sticky; */
    top: 0;
    z-index: 10;
    margin-bottom: 10px;
    
    
     }
     nav{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 5%;
        display: flex;
        align-items: end;
        justify-content: space-between;
        
    }
    nav .logo{
        width: 110px;
        height: 100px;
        cursor: pointer;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-left: 40px;
        font-weight: bold;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
    
    nav ul li a:hover::after{
        content: '';
        width: 100%;
        height: 2PX;
        background: #fff;
        display: block;
        margin: auto;
        transition: 0.5s;
       
    }

     /* ...........BG Img............ */
     .bg{
        background-image: url(../assets/istockphoto-1252809376-612x612.jpg);
        /* opacity: 0.6; */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        min-height: 250px;
        display: flex;
        position: relative;
        margin-top: 10px;
      }
      .bg h3{
        font-size: 50px;
        color:black; 
        margin-top: 8%;
        margin-left: 40%;
        text-align: center;
        text-shadow: 5px 5px 10px black;
      }
  
      h3 span{
        color: rgb(48, 186, 240);
      }


      /* ...............footer..................... */


      footer {
        background-color: #333;
        color: #fff;
        padding: 30px 0;
      }
      
      .container1{
        width: 100%;
        height: 280px;
        background-color: #222;
        display: flex;
        justify-content: space-between;
        /* max-width: 1200px; */
        margin: 0 auto;
      }
      
      .footer-left {
        width: 50%;
      }
      
      .footer-left h3 {
        color: white;
        margin-top: 20px;
        margin-left: 200px;
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      .footer-left p {
        margin-left: 200px;
        color: white;
        /* margin: 0; */
      }
      
      .footer-right {
        width: 30%;
      }
      
      .footer-right h3 {
        margin-top: 20px;
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
      }
      
      .footer-right ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .footer-right ul li {
        margin-bottom: 10px;
      }
      
      .footer-right ul li a {
        color:white;
        text-decoration: none;
      }
      
      .footer-right ul li a:hover {
        text-decoration: underline;
      }
      
      .footer-bottom {
        margin-top: 0;
        
        background-color: #222;
        text-align: center;
        padding: 10px 0;
        /* margin-bottom: 10px; */
        background-color: #222;
      }
      
      .footer-bottom p {
        background-color: black;
        color: white;
        margin: 0;
       
      }

      #msg{
        color: #61b752;
        margin-top: -20px;
        display: block;
      }

    
      
  
    